# Tuples

* Tuples are like lists, but they are *immutable*.
* They pretty much do the same exact thing but they allow for data protection. Also, tuples can be used as keys, but lists cannot.

* Create tuples by listing values separated by commas. You can also used parentheses `()`.

In [2]:
t = 'a', 'b', 1, 3
t

('a', 'b', 1, 3)

In [3]:
t = ('a', 'b', 1, 3) # same thing when you wrap it in parentheses
t

('a', 'b', 1, 3)

* To create a tuple with one value, use one comma.
* To create an empty tuple, use `tuple()`. But this is useless because you can never modify it.

In [4]:
t = 'cat',
t

('cat',)

In [5]:
t = tuple()
t

()

* Use the `tuple()` function to turn other iterables into tuples.

In [6]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

* The usual indexing rules apply.

In [8]:
t = 'cat', 'dog', 1, 2, 3
t[0]

'cat'

### Differences between tuples and lists

* Tuples are immutable. Lists are mutable.
    * You cannot modify tuples. You can only replace/overwrite.
* Methods that modify lists in place (append, insert, pop, etc.) don't work on tuples.

In [9]:
l = ['cat', 'dog', 1, 2, 3] # list
t = 'cat', 'dog', 1, 2, 3 # tuple

l[0] = 'ocean'
print(l)
t[0] = 'ocean' # doesn't work
print(t)

['ocean', 'dog', 1, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [10]:
l.append('x')
l

['ocean', 'dog', 1, 2, 3, 'x']

In [11]:
t.append('x')
t # error

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
# Modification not allowed, only replacement.
print(t)
t = 35, 1, 424
print(t)
t = ("A",) + t[1:]
print(t)

('A', 'dog', 1, 2, 3)
(35, 1, 424)
('A', 1, 424)

* Relational operators work elementwise on tuples.

In [15]:
(0, 1, 2) < (0, 3, 4) # Compare each element and return if it's true for all elements

True

### Tuple assignment

* You can switch value assignments using tuples.

In [17]:
a = 5
b = 1

b, a = a, b # easy as that! The variables a and b were passed into tuples to do this.
print(a, b)

1 5

* You can take the resulst of a function and have the return values assigned to different elements in a tuple.

In [19]:
s = "hello world"
a, b = s.split(" ")
print(a)
print(b)

hello
world

In [21]:
def func(x):
    return x, x*100

a, b = func(2)
print(a, b)

2 200

### Tuple Methods

* **`tuple.index()`**
* **`tuple.count()`**

### Functions that support tuples (and lists) as inputs

* `len()`
* `sum()`
* `sorted()`
* `min()`
* `max()`

### Math operators and tuples, lists, strings
* Multiplication duplicates.
* Addition appends.
* Types have to match though. You can't add a tuple to a list, etc.

### Variable-length argument tuples

* ie. an unspecified amount of arguments for a function.
* **gather**: a parameter name that begins with **`*`** gathers arguments into a tuple.
    * By convention, we name this `*args`.
    * Use this in the function definition.
* **scatter**: you can pass a sequence in and separate it out into elements to use into multiple arguments.
    * Use this when you're calling the function.

In [24]:
def printall(*args):
    for i in args:
        print(i)
    
printall('hello', 'mom', 'hello', 'dad', 1, 2, 3)

hello
mom
hello
dad
1
2
3

In [25]:
def funcy(a, b):
    print(a)
    print(b)

In [26]:
t = (38, 'bean')
funcy(t) # error, because t gets passed in as a

TypeError: funcy() missing 1 required positional argument: 'b'

In [27]:
funcy(*t) # works because t was separated out first, and each element passed into a and then b

38
bean

### Lists, Tuples, and Iterators
* `zip()` and `enumerate()`

* **`zip()`** combines two sequences and returns a zip object. The zip object contains pairs of elements, going down each sequence element-wise.
    * It is an iterator.

In [28]:
t = 0, 1, 2
s = 'abc'

zip(t, s)

In [32]:
for pair in zip(t, s):
    print(pair)

(0, 'a')
(1, 'b')
(2, 'c')

In [38]:
# Convert a zip object into a list
combo = list(zip(t, s))

* You can unpack a list of tuples.

In [39]:
# "combo" is a list of tuples
for number, letter in combo:
    print(number, letter)

0 a
1 b
2 c

In [40]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

has_match((1,3,5), (3,3,3))

True

* **`enumerate()`** takes an iterable and returns an enumerate object, containing tuples that contain the index paired with the elements.
    * It is an iterator.

In [45]:
enumerate('hello')

In [46]:
for i in enumerate('hello'):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

### Dictionaries and Tuples

* `dict.items()` returns a dictionary view object, which is a sequence of tuples
* We can create dictionaries out of:
    * List of tuples
    * Zip object
* Tuples can be used as dictionary keys

In [47]:
d = {'me':'prada', 'u':'nada'}
d.items()

dict_items([('me', 'prada'), ('u', 'nada')])

In [48]:
for key, value in d.items():
    print(key, value)

me prada
u nada

In [50]:
# Swap the keys and elements in a dictionary
swapped = {}
for key, value in d.items():
    swapped[value] = key
swapped

{'prada': 'me', 'nada': 'u'}